<h1 style="text-align: center">Register</h1>

<div class="dev" style="text-align: center">
  <form action="/users/register" method="POST">
    <label for="name">name:</label><br />
    <input type="text" id="name" name="name" /><br />
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" /><br />
    <label for="password">password:</label><br />
    <input type="text" id="password" name="password" /><br /><br />
    <input type="submit" value="Submit" />
  </form>
  <a href="/users/login">Login</a>
</div>
